@charset "UTF-8";

/* 共通部分 */
html {
    font-size: 100%;
}

body {
    font-family: 'Yu Gothic Medium', '游ゴシック', 'YuGothic', '游ゴシック体', 'ヒラギノ角ゴ Pro M3', 'sans-serif';
    line-height: 1.7;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(241, 145, 28);
}

img {
    max-width: 100%;
}


input {
    width: auto;
    background-color: rgba(255, 255, 255, .5);
    border: 1px #fff solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
}

input[type='submit'],
input[type='button'] {
    border: none;
    cursor: pointer;
    line-height: 1;
    text-align: center;
}

select {
    width: auto;
    max-width: 400;
    background-color: rgba(255, 255, 255, .5);
    border: 1px #fff solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
}


/* 共有クラス */
form div {
    margin-top: 20;
}

.button {
    font-size: 1.2rem;
    height: 50px;
}

.button:hover {
    background-color: rgb(241, 145, 28);
}

.center {
    text-align: center;
}

.red {
    color: red;
}

/* ヘッダー */
header {
    width: 100%;
    background-color: rgb(248, 229, 167);
}

.header img {
    width: 50px;
    min-width: 50px;
}

/* フッター */
.footer {
    padding: 10px;
}

/* ログイン */
.login-box {
    min-width: 250;
    min-height: 250;
    margin: 10% 25%;
    border-radius: 10px;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
    /* 背景色は後で変更 */
    background-color: rgb(248, 229, 167);

}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* アカウント登録画面 */
.regist-box {
    background-color: rgb(248, 229, 167);
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    min-width: 600px;
    min-height: 600;
    margin: 10% 20%;
}

.regist-box h2 {
    text-align: center;
    padding: 20px;
    margin: 0;
}

.regist-box form {
    padding: 20px;
    min-width: 600px;
    margin: 0 0 40px 0;
}

.regist-box form select {
    width: 217px;
}

.grid-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    text-align: center;
}

.grid-form div {
    margin-top: 0;
}